# Ignore virtual environment

.venv/

# Ignore Python cache files
__pycache__/
*.pyc

# Ignore IDE files
.idea/

# Ignore environment files
.env

# Ignore Windows batch files
*.bat

# Ignore PyInstaller spec files
*.spec

# Ignore PyInstaller build directories
build/
dist/

# Ignore environment variable file
.env